body, html {
  background-color: #363539;
  margin: 0;
  font-family: courier, monospace;
  color: #E4E6E7;
  width: 100%;
  font-size: 14px;
  border: 0px;
  margin: 20px;
}


input {
  font-family: courier, monospace;
  color: #E4E6E7;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  border: 0px;
  background-color: #29282B;
}

input[type=text]{
  background-color: #29282B;
}


input[type=password]{
  background-color: #29282B;
}

input[type=button]{
  background-color: #48474B;
}

a {
  text-decoration: none;
  color: #E4E6E7;
}

#comment {
  color: #6F777B;
}

#b {
  color: #98B6CB;
}

#bd {
  color: #6693B0;
}

#g {
  color: #AAC69D;
}

#gd {
  color: #6B9557;
}

#r {
  color: #CC979C;
}

#rd {
  color: #B3646B;
}

#y {
  color: #D5CC8E;
}

#yd {
  color: #BAAB45;
}

#p {
  color: #AE9EC5;
}

#pd {
  color: #8A74AB;
}


#a {
	color: #0f0;
}

#c {
	color: #0bc;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888
}
@keyframes change {
    	0%  { color: #ADB3B6; }
    	50% { color: #ADB3B6; }
    	99% { color: #363539; }
}

#console-container {
    padding: 20px;
    min-height: 80%;
    max-height: 80%;
    box-sizing: border-box;
    float: left;
    width: 50%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    outline: none;
    overflow: hidden;
}

#console {
    font-family: courier, monospace;
    color: #ADB3B6;
    font-size: 14px;
    outline: none;
    width: 105%;
    overflow: auto;
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

#console::webkit-scrollbar {
    width: 0px;
    height: 0px;
}
